<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todooey - A Simple Todo List App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="app">
        <h1 class="">My Todo List</h1>
        <div class="card">
          <div class="flex">
            <input v-model="newItem" @keyup.enter="addItem" placeholder="Add new todo" />
            <button @click="addItem" :disabled="newItem.length === 0">Add</button>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <h2>Todo</h2>
            <ul class="list">
              <li class="list-item" :class="{isComplete: item.isComplete}" v-for="item in reversedItems">
                <div class="list-item-toggle" @click="toggleCompleted(item)"></div><span>{{ item.name }}</span>
                <div class="list-item-delete" @click="removeItem(item)">X</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script>
      new Vue( {
        el: '#app',
        data: {
          baseUrl: 'http://localhost:9000/api/todos',
          newItem: '',
          items: [],
        },
        computed: {
          reversedItems() {
            return this.items.slice( 0 ).reverse();
          },
        },
        methods: {
          addItem: function () {
            this.items.push( {
              id: this.items.length + 1,
              name: this.newItem,
              isComplete: false,
            });
            axios.post(this.baseUrl+'/add', {'name': this.newItem, 'isComplete': false}).then().catch(err => console.error(err))
            this.newItem = '';
          },
          toggleCompleted: function ( item ) {
            console.log(item);
            console.log(this.items);
            item.isComplete = !item.isComplete;
            axios.put(this.baseUrl+'/update/'+item.id, { 'name': item.name, 'isComplete': item.isComplete}).then(res => console.log()).catch(err => console.error(err))
          },
          removeItem: function ( item ) {
            this.items = this.items.filter( ( newItem ) => newItem.name !== item.name );
            axios.delete(this.baseUrl+'/delete/'+item.id, {'isComplete': !item.isComplete}).then().catch(err => console.error(err))
          },
        },
        mounted() {
          axios.get(this.baseUrl).then(res => (this.items = res.data)).catch(err => console.error(err))
        }
      });
    </script>
  </body>

</html>
